---
title: {{classname}} | TypeScript SDK
---

{{#models}}{{#model}}
# {{classname}}

{{#description}}{{&description}}
{{/description}}

## Properties

Name | Type
------------ | -------------
{{#vars}}**{{name}}** | {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{dataType}}**]({{complexType}}.md){{/isPrimitiveType}}
{{/vars}}

{{/model}}{{/models}}
